<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <title>Fund Hub</title>
  </head>
  <body>
    <div class="container-fluid" id="cont">
      <div class="row" id="bar" style="position:fixed;z-index:2;">
        <div class="col-5" style="padding-top: 5px;">
          <h1 id="heading"> FUND HUB </h1>
        </div>
        <div class="col-5" style="padding-left:80px;padding-top:7px;">
          <img src="../../static/images/admin2.png" id="logo" alt="ERROR!">
        </div>
        <div class="col-1" style="padding-top:10px;padding-left:68px;">
          <img src="/media/{{c.0.profile_pic}}" id="dp" alt="ERROR!">
        </div>
        <div class="col-1" style="padding-top:10px;padding-right:5px;">
          <a href="{% url 'admin_login:logout' %}"><button class="btn btn-light">LOGOUT</button></a>
        </div>
      </div><br><br><br><br><br>
      <div class="row">
        <div class="col-3" style="text-align:center;">
          <br><br><br><br><br><br>
          <button style="width:70%;" type="button" id="b1" class="btn btn-primary" name="button">New Requests</button><br><br><br>
          <button style="width:70%;" type="button" id="b2" class="btn btn-primary" name="button">Pending Requests</button>
        </div>
        <div class="col-9">
          <div class="scrolling-warpper" style="height:505px;">
            {% if requests %}
              {% for req in requests %}
                <div class="divs nr">
                  <div class="card" style="width: 20rem; height:480px;">
                    <img src="http://images.agoramedia.com/wte3.0/gcms/article-emergency-room-visits.jpg?width=414" class="card-img-top" style="width:100%;height:250px;" alt="ERROR!">
                    <div class="card-body">
                      <h5 class="card-title" style="cursor:pointer;text-transform:uppercase;" onclick="display({{ forloop.counter }})">{{ req.request_header }}</h5>
                      <p class="card-text" style="text-align:justify;">{{ req.description|truncatewords:7 }}</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      <form method="POST">
                        {% csrf_token %}
                        <input style="width:40%;" class="btn btn-info" type="submit" name="{{ req.username }}" value="Appoint">
                        <input style="float:right;width:40%" class="btn btn-danger" type="submit" name="{{ req.username }}" value="Cancel">
                      </form>
                    </div>
                  </div>
                </div>
                <div id="{{ forloop.counter }}" class="modal">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2>Details</h2>
                      <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                      <ul style="list-style-type:none">
                        <li style="font-size:18px;color:#333333;">Request By : {{ req.username }}</li><br>
                        <li style="text-align:center;text-transform:uppercase;color:#333333;"> <h4>{{ req.request_header }}</h4> </li>
                        <li> <p style="font-family: sans-serif;font-size: 20px;text-align:justify;white-space:normal;color:#333333;"> {{ req.description }} </p> </li>
                        <li> Requested <h3> {{ req.amount }} &#8377;</h3> </li><br>
                        <li style="font-size:18px;color:#333333;"> Before {{ req.by_date }} </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% if request2 %}
              {% for req2 in request2 %}
                <div class="divs pr" style="display:none;">
                  <div class="card" style="width: 20rem; height:480px;">
                    <img src="http://images.agoramedia.com/wte3.0/gcms/article-emergency-room-visits.jpg?width=414" class="card-img-top" style="width:100%;height:250px;" alt="ERROR!">
                    <div class="card-body">
                      <h5 class="card-title" style="cursor:pointer;text-transform:uppercase;" onclick="display2({{ forloop.counter }})">{{ req2.request_header }}</h5>
                      <p class="card-text" style="text-align:justify;">{{ req2.description|truncatewords:7 }}</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      <form method="GET">
                        {% csrf_token %}
                        <input style="width:40%;" class="btn btn-success" type="submit" name="{{ req2.username }}" value="Verify">
                        <input style="float:right;width:40%" class="btn btn-danger" type="submit" name="{{ req2.username }}" value="Cancel">
                      </form>
                    </div>
                  </div>
                </div>
                <div id="p{{ forloop.counter }}" class="modal">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2>Details</h2>
                      <span class="pclose">&times;</span>
                    </div>
                    <div class="modal-body">
                      <ul style="list-style-type:none">
                        <li style="font-size:18px;color:#333333;">Request By : {{ req2.username }}</li><br>
                        <li style="text-align:center;text-transform:uppercase;color:#333333;"> <h4>{{ req2.request_header }}</h4> </li>
                        <li> <p style="font-family: sans-serif;font-size: 20px;text-align:justify;white-space:normal;color:#333333;"> {{ req2.description }} </p> </li>
                        <li> Requested <h3> {{ req2.amount }} &#8377;</h3> </li><br>
                        <li style="font-size:18px;color:#333333;"> Before {{ req2.by_date }} </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      window.onscroll=function(){
        if(window.pageYOffset>0){
          document.getElementById("bar").style.backgroundColor='#9a9a9a';
        }else{
          document.getElementById("bar").style.backgroundColor="rgba(0,0,0,0)";
        }
      }
      function display(id){
        console.log(id.toString())
        var modal = document.getElementById(id.toString());
        var span = document.getElementsByClassName("close")[0];
        modal.style.display = "block";
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      }

      function display2(id){
        console.log("p"+id.toString())
        var modal = document.getElementById("p"+id.toString());
        var span = document.getElementsByClassName("pclose")[0];
        modal.style.display = "block";
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      }

      var b1=document.getElementById('b1');
      var b2=document.getElementById('b2');
      var nr=document.getElementsByClassName('nr');
      var pr=document.getElementsByClassName('pr');

      window.onload=function(){
        b1.onclick=function(){
          b1.disabled=true;
          for(var i =0;i<nr.length;i++){
            nr[i].style.display="inline-block";

          }
          b2.disabled=false;
          for(var i =0;i<pr.length;i++){
            pr[i].style.display="none";
          }
        }
        b2.onclick=function(){
          b2.disabled=true;
          for(var i =0;i<pr.length;i++){
            pr[i].style.display="inline-block";
          }
          b1.disabled=false;
          for(var i =0;i<nr.length;i++){
            nr[i].style.display="none";
          }
        }
        b1.disabled=true;
      }
    </script>
  </body>
</html>
