<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>

    <title></title>
    <meta name="description" content="Responsive Nav Bar" />
    <meta name="keywords" content="Fluid, Responsive, responsive, responsive web design, responsive design, layout, css, html, web development, web design"/>
    <meta name ="Generator" content= "Atom ver1.0.11.0"/>
    <meta name="author" content="Maria Cheline Magsano"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .list { float:right; }
    </style>
    {% block style %} {% endblock %}
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
