{% extends 'userlogin/base.html' %}
<!DOCTYPE html>
<html>
<head>
  {% block extrahead%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#div1 {
  font-size:40px;
}
}
</style>
{% endblock %}
</head>
<body style="background-color:#e6e6e6;">
{% block body %}

<div style="margin-top:210px;padding:15px 15px 2500px;font-size:30px">
</div>

<script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("navbar").style.padding = "20px 100px";
    document.getElementById("navbar").style.top = "0";
    document.getElementById("logo").style.fontSize = "40px";
  } else {
    document.getElementById("navbar").style.padding = "70px 100px";
    document.getElementById("logo").style.fontSize = "60px";
    document.getElementById("navbar").style.top = "50px";
  }
}
</script>

<script>
function hourglass() {
  var a;
  a = document.getElementById("div1");
  a.innerHTML = "&#xf251;";
  setTimeout(function () {
      a.innerHTML = "&#xf252;";
    }, 1000);
  setTimeout(function () {
      a.innerHTML = "&#xf253;";
    }, 2000);
}
hourglass();
setInterval(hourglass, 3000);
</script>
{% endblock%}
</body>
</html>
